<div id="application">
  <div class="canvas">
    {{route-item-node routeNode=model}}

    <div class="block">
      <button class="btn" {{action 'fetch'}}>Fetch Routes</button>
    </div>

  </div>
</div>